.botonCardProducto{
    width: 100%;
}
.botonAlerta{
    width: 100%;
}
.botonXPedidos{
    background-color: rgb(159, 159, 159);
}
.botonXPedidos:hover{
    background-color: rgb(137, 137, 137);

}
.botonEnviarProducto{
    width: 50%;
}